
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  

    <header>
        <nav>
            <a href="{% url "inicio" %}">Inicio</a>
            <a href="{% url "about" %}">Otra</a>
            <a href="{% url 'crear_colectividad' nombre='Luigi' pais='Italia' %}">Crear Colectividad</a>
            <a href="{% url "listar_colectividades" %}">Listar las colectividades</a>
        </nav>
    </header>

    <h1> Lista de colectividades </h1>


{{listado_colectividades}}

<ul> 
    {% for colectividades in listado_colectividades %}
    
    <li> 
        {{colectividades}}
    </li>

    {% endfor %}
</ul>
</body>
</html>
